# Sample modelpoint data for standard model implementations

### Model Point File

The model point file contains model point data in tabular format. 
The records of the file represent model points, and the columns represents model point attributes.
The first record contains a string column header whose values can be used as the attribute names.

#### File Format

* CSV

#### Columns

* **PolicyID**: Model point identifier (Integer or string)
* **ProductID**: Primary key used for assumption and paramter association and for result aggregation (Integer or string)
* **PlanID**: Secondary key used for assumption and paramter association and for result aggregation (Integer or string)
* **Sex**: `M` or `F` to indicate policy holder's sex (String)
* **IssueDate**: Date of issue (Integer, String or a Date type)
* **IssueAge**:  Policyholder's age at issue (Integer)
* **PolicyTerm**: Policy term in years (Integer)
* **PolicyCount**: Number of policies represented by the model point (Integer or Float)
* **SumAssured**: (Average) sum assured amount per policy in an unspecified currency (Integer or Float)

#### Number of Model Points

* 10000

In [1]:
import numpy as np
from numpy.random import default_rng  # Requires NumPy 1.17 or newer

rng = default_rng(12345)


# Number of Model Points
MPCount = 10000


# Product ID (String <= 10)

ProductID = [
    "TERM_1",
    "TERM_2"
]

product_id = np.fromiter(map(lambda i: ProductID[i], rng.integers(low=0, high=len(ProductID), size=MPCount)), np.dtype('<U10'))

# Plan ID (String <= 10)

PlanID = [
    "PLAN_A",
    "PLAN_B"
]

plan_id = np.fromiter(map(lambda i: PlanID[i], rng.integers(low=0, high=len(PlanID), size=MPCount)), np.dtype('<U10'))


# Sex (Char)

Sex = [
    "M",
    "F"
]

sex = np.fromiter(map(lambda i: Sex[i], rng.integers(low=0, high=len(Sex), size=MPCount)), np.dtype('<U1'))

# Issue Date (): 2010/1/1 - 2024/12/31 (Y/M/D)

date_begin = np.datetime64('2010-01-01')
date_end = np.datetime64('2025-01-01')
days = (date_end - date_begin).astype(int)

issue_date = date_begin + rng.integers(low=0, high=days, size=MPCount)

# Issue Age (Integer): 20 - 59 year old

issue_age = rng.integers(low=20, high=60, size=MPCount)

# Policy Term (Integer): 10, 15, 20 

policy_term = rng.integers(low=0, high=3, size=MPCount) * 5 + 10

# Policy Count (Integer): 1 - 100 

policy_count = rng.integers(low=0, high=101, size=MPCount)
 
# Sum Assured (Float): 10000 - 1000000  

sum_assured = (1000000 - 10000) * rng.random(size=MPCount) + 10000

In [2]:
import pandas as pd

attrs = [
    "ProductID",
    "PlanID",
    "Sex",
    "IssueDate",
    "IssueAge",
    "PolicyTerm",
    "PolicyCount",
    "SumAssured"
]

data = [
    product_id,
    plan_id,
    sex,
    issue_age,
    issue_date,
    policy_term,
    policy_count,
    sum_assured
]

ModelPoints = pd.DataFrame(dict(zip(attrs, data)), index=range(1, MPCount+1))
ModelPoints.index.name = "PolicyID"
ModelPoints

,ProductID,PlanID,Sex,IssueDate,IssueAge,PolicyTerm,PolicyCount,SumAssured
PolicyID,,,,,,,,
1,TERM_2,PLAN_A,M,39,2012-10-13,20,69,861683.506886
2,TERM_1,PLAN_A,F,53,2019-04-08,10,44,568669.777455
3,TERM_2,PLAN_B,M,46,2016-04-17,15,87,832762.135174
4,TERM_1,PLAN_B,F,30,2021-03-29,20,38,718116.208315
5,TERM_1,PLAN_A,M,23,2016-10-31,15,20,987991.680776
...,...,...,...,...,...,...,...,...
9996,TERM_2,PLAN_A,F,51,2023-09-03,20,66,260355.179719
9997,TERM_1,PLAN_A,F,42,2020-06-13,20,9,813992.320821
9998,TERM_2,PLAN_B,F,31,2013-08-23,10,17,108752.375284
9999,TERM_1,PLAN_A,F,20,2012-07-05,20,97,101664.644951
10000,TERM_1,PLAN_B,F,42,2017-09-29,10,94,187609.847405

In [3]:
ModelPoints.to_csv("ModelPoints.csv")